.view {
    background-image: url('img/nerjabidler/bild5.jpg');
}

.secondslide {
    background-image: url('img/nerjabidler/bild9.jpg');
}

.thirdslide {
    background-image: url('img/nerjabidler/bild15.jpg');
}