.firstslide {
    background-image: url('img/nerjabidler/bild5.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}

.secondslide {
    background-image: url('img/nerjabidler/bild9.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
}

.thirdslide {
    background-image: url('img/nerjabidler/bild15.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}