@import url(https://fonts.googleapis.com/css?family=Noto+Serif:700);
.parallax { 
    /* The image used */
    background-image: url("img/nerjabidler/sunset-pic.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item {
    transition: all .4s ease-in-out;
}

.nav-item:hover {
    border-bottom: 2px;
    transition: all .4s ease-in-out;
}
